{% set redirection = pimcore_link('link').getHref() %}
{% set title =  pimcore_input('title') %}
{% set button = pimcore_input('button') %}

<div class="b-subscribe-vacancies b-send-cv" data-url="{{ path('app_form_subscribe_vacancies') }}" data-redirection="{{ redirection }}">

    {% if title is not empty %}
     <h2 class="orange-underline">{{ pimcore_input('title', { 'placeholder': "Подписаться на вакансию"}) }}</h2>
    {% endif %}

    <div class="b-subscribe-vacancies__description">
        {{ pimcore_wysiwyg("description", {
            "toolbarGroups": [
                {
                    "name": 'basicstyles',
                    "groups": [ 'basicstyles', "links", "styles", "align" ]
                }
            ]
        }) }}
    </div>

    <form class="j-form c-form" action="{{ path('app_form_subscribe_vacancies') }}" data-form>
        <input type="hidden" name="lang" class="lang" value="{{ app.request.locale }}">
        {{ honeypot_input() }}
        <div class="c-form-flex">
            <div class="w-100 inputs-row">
                <div class="c-form__field el-input name" data-form-item="required namesurname ">
                    <label class="el-input__label">{{ 'Имя'|trans }} *</label>
                    <div class="el-input__wrapper-field"><input name="namesurname" type="text" class="el-input__field namesurname name"></div>
                    <div class="el-input__error" data-form-error></div>
                </div>
                <div class="c-form__field el-input name" data-form-item="required surname">
                    <label class="el-input__label">{{ 'Фамилия'|trans }} *</label>
                    <div class="el-input__wrapper-field"><input name="surname" type="text" class="el-input__field surname"></div>
                    <div class="el-input__error" data-form-error></div>
                </div>
                <div class="c-form__field el-input email" data-form-item="required mail">
                    <label class="el-input__label">E-mail *</label>
                    <div class="el-input__wrapper-field"><input name="email"  type="email" class="el-input__field email"></div>
                    <div class="el-input__error" data-form-error></div>
                </div>
            </div>
        </div>
        <div class="b-subscribe-vacancies__department" id="subscribe-department">

            {% for departmentRow in departmentsData %}
                {% set btnClass   = loop.index == 1 ? 'btn-primary' : 'btn-light' %}
                {% set department = departmentRow.department %}

                <button type="button" data-id="{{ department.id }}" class="b-subscribe-vacancies__department-btn {{ btnClass }}">{{ department.title }}</button>
            {% endfor %}

        </div>
        <div class="b-subscribe-vacancies__technology">
            <div class="b-subscribe-vacancies__technology-error d-none" id="checkingTech">
                {{ 'Выберите технологию из списка'|trans }}
            </div>

            {% for departmentRow in departmentsData %}
                {% set department = departmentRow.department %}

                <div class="b-subscribe-vacancies__technology-list {% if loop.index != 1 %}d-none{% endif %}" data-id="{{ department.id }}">
                    <div class="b-subscribe-vacancies__technology-item">
                        <input class="b-subscribe-vacancies__technology-check selectAll"  id="department_{{ department.id }}" type="checkbox" data-departament="{{ department.id }} data-value="{{ department.id }}">
                        <label for="department_{{ department.id }}"> Выбрать все</label>
                    </div>

                    <div class="b-subscribe-vacancies__technology-wrap">

                        {% for technology in departmentRow.mainTechnologies %}
                            <div class="b-subscribe-vacancies__technology-item">
                                <input class="b-subscribe-vacancies__technology-check" type="checkbox" id="tech_{{ department.id }}{{ technology.id }}" data-departament="{{ department.id }}" data-value="{{ department.id }}:{{ technology.id }}">
                                <label for="tech_{{ department.id }}{{ technology.id }}">{{ technology.title }}</label>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}

            <div class="b-subscribe-vacancies__subscr-list"></div>
        </div>

        <div class="b-subscribe-vacancies__personal">
            <div class="c-form__personal">
                <div class="c-form__personal-wrap">
                    <div class="c-form__personal-checkbox">
                        <input type="checkbox" id="personal-data-vacancy">
                        <label for="personal-data-vacancy"></label>
                    </div>
                    <div class="c-form__personal-text">
                        {{ pimcore_wysiwyg('personal-text', {
                            "toolbarGroups": [
                                {
                                    "name": 'basicstyles',
                                    "groups": [ 'basicstyles', "links", "styles", "align" ]
                                }
                            ]
                        }) }}
                    </div>
                </div>
                <div class="c-form__personal-info">
                    {{ pimcore_wysiwyg('add-info', {
                        "toolbarGroups": [
                            {
                                "name": 'basicstyles',
                                "groups": [ 'basicstyles', "links", "styles", "align" ]
                            }
                        ]
                    }) }}
                </div>
            </div>
        </div>

        {% if editmode %}
            <div class="el-button el-button-admin">
                {{ pimcore_input('button',{
                    'width': 200
                }) }}
            </div>
        {% elseif button is not empty %}
            <button type="submit" class="el-button" id="subscriptionButton">{{ button }}</button>
        {% else %}
            <button type="submit" class="el-button" id="subscriptionButton">{{ 'Подписаться'|trans }}</button>
        {% endif %}

        {% if editmode %}
        <div class="text-center mt-3">
            <b>Thank You page link:</b>
            {{ pimcore_link('link') }}
        </div>
        {% endif %}
    </form>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        new SubscribeVacancies();
    });
</script>
